<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.villapp.jesussai">

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.Dark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.villapp.jesussai.galeria.GaleriaActivity"></activity>
        <activity android:name="com.villapp.jesussai.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.villapp.jesussai.app.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="locked"></activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>